body {
}

main {
  background-color: #f8f8f8;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.cabecalho .coluna {
}

.cabecalho figure {
}
.cabecalho figure img {
  width: 90px;
}

.formularioPesquisa {
  display: flex;
  height: 40px;
}
.formularioPesquisa input {
  width: 500px;
  font-size: 16px;
  border: 1px solid #cccccc;
  padding: 0 10px;
  border-radius: 2px 0 0 2px;
}
.formularioPesquisa button {
  width: 60px;
  border: 1px solid #cccccc;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.formularioPesquisa button img {
  width: 18px;
}

.imagemUsuario {
}
.cabecalho .imagemUsuario img {
  width: 18px;
  border-radius: 100%;
}

.destaqueCanal {
  background-image: url(./img/destaque.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.secaoCanal {
  background-color: #fff;
}
.secaoCanal .container {
}
.detalheCanal {
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 15px;
}
.detalheCanal figure {
  margin-right: 20px;
}
.detalheCanal figure img {
  border-radius: 100%;
  width: 80px;
}

.detalheCanal_info {
}
.detalheCanal_info h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.detalheCanal_info p {
  font-size: 15px;
}

.menusNavegacaoCanal {
}
.menusNavegacaoCanal ul {
  display: flex;
  align-items: center;
}
.menusNavegacaoCanal ul li {
}
.menusNavegacaoCanal ul li a {
  color: #606060;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
}
.menusNavegacaoCanal ul li button {
  background-color: transparent;
  border: none;
}
.menusNavegacaoCanal ul li button img {
  width: 18px;
}

.containerVideosDestaques {
}
.containerVideosDestaques .coluna {
}

.secaoVideosDestaque {
}
.secaoVideosDestaque h2 {
}
